// Semi sensitive - START
const char* ssid = "";
const char* password = "";
const char* server = "";  // Server that accepts api POST-data in json format
const char* endpoint = "/api/sensors";
const char* tokenauth = "Authorization:authtoken";  //Token authorization header
// Semi sensitive - END

// Semi sensitive - START
const char* ssid = "outerparty";
const char* password = "proles";
const char* server = "api.sweetrideserver.com";  // Server that accepts api POST-data in json format
const char* endpoint = "/api/sensors";
const char* tokenauth = "Authorization:secretAuthCod3Hunter2";  //Token authorization header
// Semi sensitive - END

